<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PQT10</title>
    <!-- <link id="icon" rel="icon" href="../images/icon.ico"> -->
    <!-- connection url for font-awesomw icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet"  type='text/css'>  
    <!-- connection url for  bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- connection url for google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto,Merriweather&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand mx-3" href="/">PQT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link mx-3" href="/HSE/login">HSE</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link mx-3" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle mx-3" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sign In
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/login-using-username">Sign In using username</a>
                <a class="dropdown-item" href="/login-using-id">Sign In using patient id</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-3" href="/register">Sign Up</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle mx-3" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                |USERNAME|
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/patient/dashboard">Dashboard</a>
                <a class="dropdown-item" href="/patient/profile">Profile</a>
                <a class="dropdown-item" href="/patient/qr-code">QR-code</a>
                <a class="dropdown-item" href="/patient/history">History</a>
                <a class="dropdown-item" href="/logout">Log Out</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>