<%- include ('./partials/header') %>

<h4>Design landing page here</h4>

<!-- Landing page code will go here -->
<!-- Use same template for all other ejs files -->


<%- include ('./partials/footer') %>
