<%- include ('../partials/header') %>

<h4>Design dashboard here</h4>

<!-- dashboard page code will go here -->
<!-- Use same template for all other ejs files -->


<%- include ('../partials/footer') %>
