<%- include ('../partials/header') %>

<h4>Design qr-code page here</h4>

<!-- qr code page code will go here -->
<!-- Use same template for all other ejs files -->


<%- include ('../partials/footer') %>
