<%- include ('../partials/header') %>
	
<title>HSE - Home</title>
<script src="../scripts/jsQR.js"></script>
<link type="text/css" rel="stylesheet" href="/stylesheets/hse-home.css" />


<div id="confirmation-modal">
  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirm Submission</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/HSE/patient-registration" method="POST">
          <div class="modal-body">
            <div class="form-group">
              <label for="patient_id" class="col-form-label">Patient ID:</label>
              <input type="text" class="form-control" id="patient_id" required>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="stage">
  <span class="round active-tab">Stage 1</span>
  <span class="round">Stage 2</span>
  <span class="round">Stage 3</span>
  <span class="round">Stage 4</span>
</div>

<div id="select-way">
  <select id="registration-option">
    <option value="qr">Patient Registration using QR Code</option>
    <option value="patient-id">Patient Registration using Patient ID</option>
  </select>
</div>

<div id="qr-scanner">
  <div id="loadingMessage">🎥 Unable to access video stream (Please make sure you have a webcam enabled)</div>
  <canvas id="canvas" hidden></canvas>
  <div id="output" hidden>
    <div id="outputMessage">Output : No QR Code Detected...</div>
    <div hidden><b>Output : </b> <span id="outputData"></span></div>
  </div>
</div>

<div class="d-none" id="patient-id">
  <form>
    <label class="intro" for="p_id">Enter Patient ID: </label>
    <input id="p_id" type="text" placeholder="Patient ID" required>
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</div>


<%- include ('../partials/footer') %>

