<!DOCTYPE html>
<html lang="en">
<head>
	<title>HSE LOGIN</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../hse-login-assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../hse-login-assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../hse-login-assets/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="../hse-login-assets/css/util.css">
	<link rel="stylesheet" type="text/css" href="../hse-login-assets/css/main.css">
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(../hse-login-assets/images/bg-hse-login.jpg);">
					<span class="login100-form-title-1">
						HSE Sign In
					</span>
				</div>

				<form action="/HSE/login" method="POST" class="login100-form validate-form">
					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100">Username</span>
						<input class="input100" type="text" name="username" placeholder="Enter username">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input100">Password</span>
						<input class="input100" type="password" name="password" placeholder="Enter password">
						<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn">
						<button type="submit" class="m-t-20 login100-form-btn">
							Sign In
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<script src="../hse-login-assets/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script src="../hse-login-assets/vendor/bootstrap/js/popper.js"></script>
	<script src="../hse-login-assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="../hse-login-assets/js/main.js"></script>

</body>
</html>